@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #E0D5B3;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #3D3228;
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this class to the existing className */
.rotating-image {
  animation: rotate 5s infinite linear; /* Adjust the duration and timing function as needed */
}